<div style="position: fixed; height: 100%; width: 100%; background-color: #fff;">
  <div style="width: 100%; position: fixed; bottom: 0;">
    <%= image_tag 'MG_splash_bg.png', style: "width: 100%; height: auto; position: relative; bottom: -4px;" %>
  </div>

  <div style="text-align: center; position: relative; top: 25%;">
    <div style="font-family: Raleway-SemiBold; font-size: 20pt; color: #00a59b; position: relative; top: -50px;">
      COMING SOON
    </div>
    <%= image_tag 'MG_splash_logo.png', style: "width: 45%; height: auto;" %>
    <div style="font-family: Raleway-Light; font-size: 31pt; color: #5d5d5d; position: relative; top: 30px;">
      The Message is in the Mix.
    </div>
    <div id="message">&nbsp;</div>
    <div style="position: relative; top: 60px; display: inline-block;">
      <%= form_tag({controller: "static_pages", action: "notification_email"}, remote: true, id: "notification") do %>
        <%= text_field_tag(:email, nil, placeholder: "Enter your email address to get notified.") %>
        <%= submit_tag("SEND", 'data-disable-with' => "WAIT...") %>
      <% end %>
    </div>
  </div>
</div>
